<div class="row">
	<div class="col-md-24">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					List of items
				</div>
				<div class="panel-controls">
					<button class="btn btn-rounded btn-primary" type="button"
						  ui-sref="recipes.create({category:'{{stateParams.category}}'})">&plus; Add new item</button>
				</div>
			</div>
			<div class="panel-body p-t-20">
				<div class="row" ng-if="list.length">
					<div class="col-xs-24 col-sm-24" ng-repeat="item in list">
						<div class="list-group-item">
							<div>
								<span class="list-group-item-heading">{{ item.title }}</span>
							</div>

							<div>
								<a  class="btn btn-success btn-cons" ui-sref="recipes.edit({id:item.id})">Edit</a>

								<a class="btn btn-danger btn-cons" ng-really-message="Are you sure?" ng-really-click="removeItem(item.id)">Remove</a>
							</div>
						</div>
					</div>
				</div>

				<div ng-if="!list.length">
					<h5>No items</h5>
				</div>
			</div>
		</div>
	</div>
</div>
