<div class="row">
	<div class="checkbox check-primary col-xs-24 col-sm-{{ column }}" ng-repeat="option in options">
		<div class="u-posRelative" ng-repeat="item in option">
			<input name="{{:: name+item.key }}" id="{{:: name+item.key }}" type="checkbox" value="{{::item.key}}"
				   ng-checked="model.indexOf(item.key) > -1"
				   ng-click="toggleSelection(item.key)"
				   ng-disabled="item.key == disabled || modeldisabled"/>
			<label for="{{:: name+item.key }}" title="{{ ::item.value }}" ng-bind="::item.value"></label>
		</div>
	</div>
	<div ng-include src="'/vendor/cms/app/directives/form/errors.html'"></div>
</div>
