<div class="element form-input">
	<label ng-if="label">{{::label }} {{ required != null ? "*" : "" }}:</label>
	<div ng-if="($parent.editMode !== false && $parent.editMode !== true) || $parent.editMode">
		<select ng-model="$parent.model" ng-options="item.id as item.name for item in options"
			ng-init="$parent.model = selectedValue"></select>
		<div ng-include src="'/vendor/cms/app/views/form/errors.html'"></div>
	</div>
	<div class="value" ng-if="$parent.editMode === false">{{ $parent.selectValue }}</div>
</div>
